<html>
<head>
{{>head}}
</head>
<body>
{{>menu}}
<br><br><br><br>
 <div class="container">
   <div class="row">
		<div align="center">
			<H2>{{{welcomeMessage}}} </H2>
		</div>
		<br/>
    </div>
 </div>

{{>jsIncludes}}
</body>
</html>