<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
{{>menu}}    
<br><br><br>

<div class="container">
<div class="right">
<div class="row">
<h3 align="center" class="margin-base-vertical">Student Information </h3>
<table>
  <tr>
    <th>Student Name</th>
    <th>Roll</th>
    <th>Gender</th>
    <th>DOB</th>
    <th>Student MObile</th>
    <th>F Name</th>
    <th>M Name</th>
    <th>Fl No.</th>
    <th>Landmark</th>
    <th>City</th>
    <th>State</th>
  </tr>
</table>  
{{>jsIncludes}}
</body>
</html>
